@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.topnav a.title {
    font-family: "DM Serif Text", serif;
    font-optical-sizing: auto;
    font-size:  72px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topnav a {
    color: white;
    font-family: "Dm Serif Text", serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 200;
    text-decoration: none;
    padding: 10px 10px;
}

.nav-links a { 
    font-family: "DM Serif Text", serif;
    font-size:  22px;
    font-weight: 300;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    
}


.topnav {
    background-color: #161616;
    text-decoration: none;
    text-align: center;
    opacity: 0.85;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topnav a:not(.title,.active):hover {
    background-color: #2028409e; 
    color: white; 
    border-bottom: 6px solid #8c3c0db2;
}

.active {
    background-color: #5F6273;
    border-bottom: 6px solid #202840;
}



body {
    background-color: #0D0708;
    margin: 0;
    padding: 0;
}

.cover {
    display: block;
    margin-right: auto; 
    -webkit-mask-image: 
        linear-gradient(to right, white 40%, transparent 100%),
        linear-gradient(to top, white 70%, transparent 100%),
        linear-gradient(to bottom, white 80%, transparent 100%);
    -webkit-mask-composite: intersect;
    mask-image: 
        linear-gradient(to right, white 80%, transparent 100%),
        linear-gradient(to top, white 80%, transparent 100%),
        linear gradient(to bottom, white 80%, transparent 100%);
    mask-composite: intersect;
    margin-top: 5px;
}

h2 {
    font-family: "DM Serif Text", sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-top: 20px;
}   

h2.i {
    margin-right: 50px;
    margin-left: -50px;
}

p {
    display: flex;
    font-family: "Philosopher", sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: white;   
    text-align: center;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: -100px;
}

ul {
    font-family: "Philosopher", sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: white;   
    text-align: left;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: -100px;
}

li {
    text-align: left;
}
.intro-container {
    display: flex;
    align-items: flex-start; 
    gap: 0px; 
    margin-top: 0px;
}

.cover {
    max-width: 70%;
    height: auto;
}

.intro-text {
    max-width: 37%;
}

